:root {
    --textColor:var(#c64b4b);
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    border: 1px;
    justify-content: space-between;
    background-color: rgb(209, 207, 207);
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #e7cfcf;
    border: 1px;
    margin: 0;
    align-items: center;
    width: 100%;
}

#title {
    margin: 20px;
}

nav {
    margin: 20px;
    float: right;
}

#featured, #all{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
#featured:hover,
#all:hover {
    color: rgb(61, 54, 161);
}

.emptyPlaylist {
    font-size: 18px;
}

/* Styling the playlist display ie playlist cards*/

.playlist-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.playlist-card {
    height: 450px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.playlist-card h3 {
    margin: 30px 0 10px 30px;
}

.playlist-card p,
.playlist-card .like-btn {
    margin: 15px 0 5px 30px;
    color: var(--textColor);
}

.cover-img {
    width: 100%;
    height: 68%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.like-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
}

.Icon {
    width: 15px;
}

/* Styling for the pop up */

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: 70%;
    border-radius: 10px;
}

.modal-content h3,
.modal-content p {
    margin-left: 20px;

}

.playlist-head {
    display: flex;
    flex-direction: row;
}

.detail-img {
    display: block;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    flex-shrink: 0;
}

.shuffle-btn {
    margin-top: 15px;
    border: 1px;
    padding: 10px;
    width: 150px;
    background-color: rgb(106, 106, 237);
    border-radius: 5px;
    color: #fefefe;
}

.shuffle-btn:hover {
    background-color: rgb(67, 67, 228);
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.songs {
    margin-top: 40px;
    max-height: 65%;
    overflow: auto;
}

.playlist-song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px;
    background-color: #eeeeee;
    margin: 10px auto;
    height: 80px;
    border-radius: 10px;
}

.song-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
}

.textDetail {
    flex: 1;
    margin: 10px 10px 10px 0;
}

.textDetail h3 {
    margin: 0;
    font-size: 15px;
}

.textDetail p {
    margin: 5px 0 5px 0;
    font-size: 11px;
}

.duration {
    margin-right: 10px;
    font-size: 11px;
} 


#add-playlist-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    margin: 15px;
    cursor: pointer;
}

.plusIcon {
    font-size: 20px;
    font-weight: bold;
}

#form-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

#form-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 25%;
    height: 30%;
    border-radius: 10px;
}

#form-content h2 {
    margin-top: 0;
    justify-self: center;
}

#form-content input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 0px solid #c0afaf;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#createPlaylist {
    border: none;
    padding: 8px 12px;
    background-color: rgb(102, 102, 245);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto 0px auto;
    display: block;
    font-weight: 100;
    font-size: 16px;
}

#createPlaylist:hover{
    background-color: rgb(69, 69, 245);
}

.newSong {
    display: block;
    margin-left: auto;
    margin-right: 0;
    border: none;
    background-color: #aaa;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.closePlaylist {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePlaylist:hover,
.closePlaylist:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}